.container {

    color: rgb(228, 17, 17);
}

h1 {

    font-size: 24px;
    color: rgb(230, 231, 230);

}


p {

    color: rgb(17, 17, 228);
}

.container2 {

    color: rgb(214, 23, 23);
}